# Travis CI build file for Kitura sample app.
# Kitura runs on OS X and Linux (Ubuntu).
# See the following URLs for further details on Travis CI
# https://docs.travis-ci.com/user/customizing-the-build/
# https://docs.travis-ci.com/user/docker/
# https://docs.travis-ci.com/user/multi-os/

# whitelist (branches that should be built)
branches:
  only:
    - master
    - develop

notifications:
  slack:
    secure: "S2dGrEUmtX1+kbJTYf3V/2kH15lFad7BlRLrrj7E1fZGnHeYwQZQjIB4BxdSt7kTPWMonS3CAG/HmDWpU4FoAznFaTmoxO/aUjDgf65DJQKC2pW+yT49OC6SY/FNBwiBTRSodZifwOjb9sXAEPo3qOfBfRj68oZj52TgTAXKzCGkaSHZf6n1zO2Uk6d/POq1mDeSWTOffAV5sYreCXH9apATFn5LCmgb0tyQMn5xG4qJ4AVxRA6AIXsWjTAZ8Ehqpdob+4xuKPJajZcapIPDFp46ed/oF5NAMYuzzr+8itLK+1eF136gNAKx0BS8deFktPhxVExnvLi1K058MZZ+z59iUtORHbFviie0qdL4pcOnLK2Iyr2qRT/8b4okAj3r7PsDY54z0NM8Vhv5MEDPkVB7dBJPf5KLAOg2cupeEFiBQb1+/fDmdmwIMd2ISBTn8i5q1RuIrWZ8Rmcoe0fvd06E1K5XvT33x3MPbsu071p+QPBvurLYff/9HREK7LQcwLDEWTfCqdjiTcw4C8EYg81gBniLpZFFbKHc40IQ2bS/QEtGm7bkQtr/pl0Cc2waHfW92E9RS+NUOm6BTHWRhVzEQrDqH8R2Cvr1GeIJIblsW32r4uDKQ9zzrHK55ssqXyZZMv1lgAlhXKjp8dQnik+CYpxhXC8iUqbpdq1yCSw="

matrix:
  include:
    - os: linux
      services: docker
      sudo: required
    - os: osx
      osx_image: xcode7.3
      sudo: required

before_install:
  - git submodule init
  - git submodule update
  - cd Kitura-Build && git checkout $TRAVIS_BRANCH && cd $TRAVIS_BUILD_DIR

script:
  - echo ">> Let's build and test the '$TRAVIS_BRANCH' branch for Kitura-Sample."
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./Kitura-Build/run_kitura_ubuntu_container.sh $TRAVIS_BRANCH $TRAVIS_BUILD_DIR Kitura; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./Kitura-Build/build_kitura_package.sh ; fi
  - echo ">> Build and tests completed. See above for status."
